body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
}

#propertiesName {

  margin-top: 20px;
  margin-left: 40px;
}

#colorExample {
  margin-top: 20px;
  margin-left: 40px;
}

#sepalWidthExample {
  margin-top: 20px;
  margin-left: 40px;
  white-Space: pre-line
}

#petalLengthResult {
  margin-top: 20px;
  margin-left: 40px;

}

#colorPetalResult {
  margin-top: 20px;
  margin-left: 40px;
}

#somePetalLengthResult1 {
  margin-top: 20px;
  margin-left: 40px;
}

#somePetalLengthResult2 {
  margin-top: 20px;
  margin-left: 40px;
}

#allPetalWidthResult {
  margin-top: 20px;
  margin-left: 40px;
}

#allPetalWidthResult2 {
  margin-top: 20px;
  margin-left: 40px;
}

.column {
  position: absolute;
  bottom: 0;
  width: 1ch;
  color: #00FF00;
  font-size: 0.5em;
  white-space: nowrap;
  animation: drop 2s linear infinite;
}


